html {
    width: 350px;
}

body {
    margin: 12px;
    background-color: whitesmoke;
}

.extension-body {
    width: 100%;
}

.extension-header {
    text-align: left;
}

.title {
    font-size: 26px;
    margin-bottom: 2px;
}

#extension-icon {
    height: 64px;
    width: 64px;
}

h2:first-child {
    margin-top: 7px;
}

.option {
    margin-bottom: 5px;
}